APP_NAME=Aphrodize
APP_ENV=development
POSTGRES_HOST=postgres
POSTGRES_USER=aphrodize
POSTGRES_PASSWORD=passwd
POSTGRES_DB=aphrodize
REDIS_HOST=redis
REDIS_PASSWORD=passwd
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=aphrodize
MINIO_SECRET_KEY=passwd
MINIO_SECURE=false
MINIO_BUCKET=aphrodize-private
LABEL_STUDIO_URL=http://label-studio:8080
LABEL_STUDIO_API_KEY=
LABEL_STUDIO_USERNAME=aphrodize
LABEL_STUDIO_PASSWORD=passwd
API_USERNAME=aphrodize
API_PASSWORD=passwd
MLFLOW_TRACKING_URI=http://mlflow:5000
MODEL_VERSION=ffhq-wrinkle-stage2-unet
MAX_UPLOAD_BYTES=10485760
