{
    metrics
    default_sni {$VM_HOST}
}


:9100 {
    metrics
}

{$VM_HOST} {
    tls internal
    encode zstd gzip
    redir /label-studio /label-studio/ 308
    handle_path /label-studio/* {
        reverse_proxy label-studio:8080
    }

    redir /grafana /grafana/ 308
    handle /grafana/* {
        reverse_proxy grafana:3000
    }
    handle {
        reverse_proxy frontend:3000
    }
}
